<div class="quiz" *ngIf="question">
  <mat-card class="form-card">
    <mat-card-title>
      <h2>{{ question.label }}</h2></mat-card-title
    >
    <mat-card-content>
      <h3>
        <form [formGroup]="form">
          <div class="form-group">
            <label *ngFor="let choice of question.choices">
              <input type="radio" [value]="choice" formControlName="choice" />
              <span>{{ choice.value }}</span>
            </label>
          </div>
        </form>
      </h3>
    </mat-card-content>
  </mat-card>
</div>
